@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --m3-title-medium: Roboto;

  /* font sizes */
  --m3-body-medium-size: 14px;
  --m3-title-medium-size: 16px;
  --font-size-2xs: 11px;

  /* Colors */
  --color-darkslateblue: #6750a4;
  --color-midnightblue: #21005d;
  --color-black: #000;
  --color-silver: #cac4d0;
  --m3-sys-light-on-surface-variant: #49454f;

  /* border radiuses */
  --br-11xs: 2px;
}
